* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	background: #cccccc;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 40px auto;
	background: #ffffff;
	border-radius: 4px;
}

.container h2 {
	margin: 20px;
}

.steps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: auto 20px;
}

.step {
	display: flex;
	padding: 10px;
	border-radius: 4px;
	justify-content: flex-start;
	align-items: center;
}

.step span {
	background: #ccc;
	padding: 10px;
	height: 30px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	border: none;
	margin-right: 10px;
}

hr {
	width: 30%;
	border: none;
	border-bottom: solid rgb(96, 149, 199) 1px;
}

form {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

form .email,
form .password {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

form .email span {
	color: #d3122cd3;
	font-size: 14px;
}

form .password span {
	color: #159430a2;
	font-size: 14px;
}

.email input,
.password input {
	width: 100%;
	padding: 15px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

form label i {
	color: #eb5a5a;
}

.submission {
	margin-bottom: 30px;
	display: flex;
}

.submission.center {
	justify-content: center;
}

.submission button {
	display: flex;
	padding: 10px 20px;
	font-weight: bold;
	background: #1e90ff;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	margin-right: 5px;
	cursor: pointer;
	width: 100px;
	align-items: center;
	justify-content: center;
}

.email-next-button span,
.password-next-button span,
.submit-button span {
	margin-left: 6px;
}

.previous-button span,
.password-previous-button span {
	margin-left: 5px;
}

button:hover {
	opacity: 0.9;
}

.email-next-button:hover i,
.password-next-button:hover i,
.submit-button:hover i {
	margin-left: 6px;
}

.email-next-button:hover span,
.password-next-button:hover span,
.submit-button:hover span {
	margin-left: 5px;
}

.previous-button:hover i,
.password-previous-button:hover i {
	margin-right: 6px;
}

.previous-button:hover span {
	margin-left: 4px;
}

.submission button.previous-button {
	display: none;
}

.submission button.email-next-button {
	display: none;
}

.submission button.email-next-button.disable {
	opacity: 0.5;
	cursor: auto;
}

.submission button.password-previous-button {
	display: none;
}

.submission button.password-next-button {
	display: none;
}

.submission button.password-next-button.disable {
	opacity: 0.5;
	cursor: auto;
}

.submission button.validate-previous-button {
	display: none;
}

.submission button.submit-button {
	display: none;
}

.error {
	font-size: 14px;
	color: #eb5a5a;
}

.submitMessage {
	display: flex;
	justify-content: center;
}

.success {
	border: none;
	padding: 10px;
	border-radius: 4px;
	background: #03b973f6;
	margin: 60px auto 120px;
	color: #ffffff;
	line-height: 1.8;
}

@media (max-width: 1500px) {
	hr {
		width: 25%;
	}
}

@media (max-width: 1100px) {
	hr {
		width: 20%;
	}
}

@media (max-width: 900px) {
	hr {
		width: 15%;
	}
}

@media (max-width: 800px) {
	hr {
		width: 10%;
	}
}

@media (max-width: 700px) {
	hr {
		width: 5%;
	}
}

@media (max-width: 600px) {
	.steps {
		display: block;
		margin: auto 20px;
	}

	.step {
		margin-bottom: 10px;
	}

	hr {
		display: none;
	}
}
